{
	"extends": ["react-app"],
	"settings": {
	  "import/resolver": {
		"node": {
		  "extensions": [".js", ".jsx"]
		}
	  }
	},
	"overrides": [
	  {
		"files": ["*.js", "*.jsx"]
	  }
	],
	"rules": {
	  // "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
	  // "comma-dangle": 0,
	  // "no-console": 0,
	  // "react/prop-types": 0,
	  // "import/prefer-default-export": 0,
	  // "class-methods-use-this": 0,
	  // "quotes": [0, "double"]
	}
  }
  