@import '../../utils/sass/variables.scss';
@import '../../utils/sass/mixins.scss';

.mainContainer {
	@include flex(initial, center, column);

	min-height: 100vh;
	margin-top: 60px;
	padding: 40px 0 80px 0;
	background-image: url("../../assets/searchBackgroud.jpg");

	h4 {
		color: #48c9ce;
		font-size: 40px;
		font-weight: 600;
		span{
			color: white;
		}
	}
	
	.addObituaryButton {
		@include primaryButton();

		align-self: flex-end;
		margin-right: 50px;
		margin-bottom: 20px;
		background-color:  #48C9CE;
		color: #fff;
		text-decoration: none !important;
		transition: all 0.3s;

		&:hover {
			background-color: #fff;
			color: black !important;
		}
	}

	.searchForm {
		margin-top: 20px;
		padding: 30px 0;
	}
}
