@import '../../utils/sass/variables.scss';
@import '../../utils/sass/mixins.scss';

.mainContainer {
	@include flex(initial, center, column);

	min-height: 100vh;
	margin-top: 60px;
	padding: 40px 0 80px 0;
	background-color: $secondary-background;

	h3 {
		margin: 20px 50px 40px 50px;
		color: #fff;
		font-weight: 400;
		text-align: center;
	}

	.addObituaryButton {
		@include primaryButton();

		align-self: flex-end;
		margin-right: 50px;
		margin-bottom: 20px;
		background-color: #fff;
		color: $secondary-background;
		text-decoration: none !important;
		transition: all 0.3s;

		&:hover {
			background-color: $primary-color;
			color: #fff !important;
		}
	}

	.searchForm {
		margin-top: 20px;
		padding: 30px 0;
		border-radius: 10px;
		background-color: $secondary-background;
	}
}
