@import '../../utils/sass/variables.scss';
@import '../../utils/sass/mixins.scss';

.mainContainer {
	@include flex(initial, center, column);

	position: relative;
	overflow: hidden;
	min-height: 400px;
	text-align: center;

	.inputsContainer,
	.dropdownsContainer {
		width: 60%;
		height: 100%;
		margin-top: 20px;
	}

	input,
	select {
		width: 100%;
		height: 70px;
		padding: 9px 10px;
		border: none;
		color:#E6EEF0;
		background: rgba(50, 167, 178, 0.47);
		backdrop-filter: blur(20px);
		outline: none;
	}


	input::-webkit-input-placeholder{
		color: white;
		opacity: 1;
	}

	input:-moz-placeholder {
	color: #E6EEF0;
	}

	.banner {
		position: fixed;
		top: -70px;
		left: 0;
		z-index: 2;
		z-index: 9999999;
		height: 55px;
		opacity: 0;
		transition: all 0.6s ease-in-out !important;
	}

	.showBanner {
		top: 0;
		opacity: 1;
	}
	.searchKeywordInput {
		position: relative;
		z-index: 3;
		width: 350px;
		margin-top: 60px;
		background-color: transparent;
		border: 0px;
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		color:transparent;
		color: #fff;
		text-align: center;

		&::placeholder {
			color: #fff;
		}
	}

	.searchButton {
		@include primaryButton();
		@include flex();

		position: relative;
		z-index: 3;
		width: 350px;
		height: 60px;
		margin-top: 10px;
		background: #48c9ce;
	}

	.searchButton:hover{
		background-color: #48c9ce;
		color: black;
	}

	.spinner {
		height: 60px;
	}

	.obituariesResults {
		@include flex(center, center, column);

		position: relative;
		overflow: hidden;
		width: 100vw;
		height: 0;
		margin: 0;

		h5 {
			width: fit-content;
			width: 100vw;
			margin: 0;
			padding: 0;
			color: #fff;
			letter-spacing: 2px;
		}
	}

	.closeButton {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 9;
		border: none;
		background: none;
		color: #fff;
		outline: none;
		font-size: 26px;
	}

	.noSearchResultsText {
		height: 25px;
		margin-top: 20px;
		color: #fff;
	}

	.obituariesResultsContainer {
		@include flex();

		width: 100vw;
		min-height: 500px;
		padding: 100px 0 70px 0;
		background: $secondary-background;

		& div {
			display: flex;
			align-items: center;
		}

		& div:nth-child(1),
		& div:nth-child(2) {
			z-index: 10;
			color: #eee;
		}

		& div:nth-child(3) {
			width: 90vw;
		}
	}
}

@media (max-width: 1200px) {
	.mainContainer {
		.inputsContainer,
		.dropdownsContainer {
			width: 60%;
		}
	}
}

@media (max-width: 992px) {
	.mainContainer {
		.inputsContainer,
		.dropdownsContainer {
			width: 80%;
			margin: 0;
		}

		select {
			margin: 28px 0 0 0;
		}

		input {
			margin: 25px 0 0 0;
		}
	}
}

@media (max-width: 768px) {
	.mainContainer {
		.obituariesResultsContainer {
			& div:nth-child(3) {
				width: 100vw;
			}
		}
	}
}

@media (max-width: 576px) {
	.mainContainer {
		.inputsContainer,
		.dropdownsContainer {
			width: 90%;
			margin-top: 10px;
		}

	  input,select {
		height: 60px;
       }
	.searchButton {
		width: 70vw;
		height: 50px;
	}
	}
}
