@import '../../utils/sass/variables.scss';
@import '../../utils/sass/mixins.scss';

.primaryModalContainer {
	@include flex();

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.1);

	.modalContent {
		@include flex(initial, center, column);

		position: relative;
		width: 40vw;
		min-height: 40vh;
		padding: 30px 40px;
		border-radius: 10px;
		background: #fff;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
		text-align: center;
	}

	.closeButton {
		position: absolute;
		top: 15px;
		right: 20px;
		border: none;
		background: none;
		color: $primary-text;
		outline: none;
		font-size: 26px;

		&:disabled {
			opacity: 0.3;
			cursor: default;
		}
	}

	.inputsContainer {
		width: 70%;

		input {
			border: 1px solid rgba(0, 0, 0, 0.3);
		}

		textarea {
			border-radius: 5px;
		}
	}

	.modalHeader {
		width: 100%;
		margin: 20px 0 10px 0 !important;
		color: $primary-color;
		font-weight: bold;
	}

	.modalHeader {
		margin: 0 0 30px 0 !important;
	}

	.imageInput input::file-selector-button {
		display: none;
	}

	.submitButton {
		@include primaryButton();

		margin: 30px 0 10px 0;
		padding: 5px 60px;
		cursor: pointer;
	}
}

@media (max-width: 1200px) {
	.primaryModalContainer .modalContent {
		width: 60vw;
	}
}

@media (max-width: 576px) {
	.primaryModalContainer .modalContent {
		width: 90vw;
		padding: 60px 30px;
	}

	.primaryModalContainer .inputsContainer {
		width: 90%;

		input {
			margin-top: 0;
		}
	}
}
