@import '../../utils/sass/variables.scss';
@import '../../utils/sass/mixins.scss';

.mainContainer {
	@include flex(initial, center, column);

	min-height: 900px;
	margin-top: 60px;
	padding: 40px 40px 80px 40px;
	text-align: center;

	h4 {
		margin-top: 20px;
		color: $primary-color;
	}

	h5 {
		margin-bottom: 30px;
		font-weight: 300;
	}

	.flower {
		height: 60px;
	}

	.plansContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		div {
			@include flex(initial, center, column);

			width: 450px;
			height: 550px;
			margin: 30px;
			padding: 30px;
			border-radius: 10px;
			background: #eee;

			h4 {
				margin: 10px 0 10px 0;
				color: $primary-text;
				letter-spacing: 1px;
			}

			p {
				margin-bottom: 10px;
			}

			a {
				@include primaryButton();

				margin-bottom: 30px;
				text-decoration: none;
			}
		}
	}

	.priceText {
		color: $primary-text;
		font-weight: 600;
		font-size: 22px;
	}
}

@media (max-width: 768px) {
	.mainContainer {
		.plansContainer {
			div {
				width: 80vw;
				max-width: 120vw;
			}
		}
	}
}
